/*--------------------------------------
Prototype Style Sheet (empty commented stylesheet)
version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://bignerdranch.com
--------------------------------*/

/* Remember Order Of Styling Links
a:link, a:visited, a:hover, a:focus, a:active
--------------------------------*/

* {
    padding: 0px;
    margin: 0px;
}

main.wrapper {
    display: block;
}

section.bg-hero-img {
    background-image: url(../imgs/hero-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 75px;
}

div.bg-container {
    margin: 0 auto;
    width: 1800px;
    max-width: 100%;
}

div.bg-container h1 {
    width: 320px;
    max-width: 100%;
    text-align: left;
    background-color: #e5ac24;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    font-weight: 100;
    display: block;
    margin-bottom: 5px;
}

div.bg-container h2 {
    width: 409px;
    max-width: 100%;
    text-align: left;
    background-color: #E5AC24;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    font-weight: 100;
    display: block;
    margin-bottom: 10px;
}

div.bg-container p {
    color: #FFFFFF;
    font-weight: bold;
}

main.main-section {
    clear: both;
    display: block;
    height: 700px;
}

section.left-section {
    display: inline;
    margin-left: 150px;
    margin-top: 80px;
    /*    margin-right: 95px;*/
    float: left;
    width: 755px;
    box-sizing: border-box;
}

section.middle-section {
    max-width: 100%;
    display: inline;
    width: 560px;
    height: 315px;
    float: right;
    margin-right: 65px;
    margin-top: 100px;
}

div.join-us h2,
div.expectation h2 {
    color: #3C3F33;
    text-align: left;
    font-size: 35px;
    margin-bottom: 15px;
}


div.join-us p {
    color: #3C3F33;
    text-align: left;
}


div.expectation {
    display: block;
    margin-top: 80px;
    padding-left: 15px;
    box-sizing: border-box;
}


section.right-section {
    width: 608px;
    height: 600px;
    margin-right: 95px;
    margin-top: 80px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

iframe.p-form {
    width: 607px;
    height: 600px;
    border: solid #E5AC24 3px;
    background-color: #FFFFFF;
    overflow: hidden;
}

section.ready {
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #505153;
    clear: both;
}

section.ready h3 {
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center
}

section.ready p {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

div.sign-btn {
    margin: 20px auto 0px auto;
    width: 319px;
}

a.btn {
    padding: 20px 90px;
    font-size: 17px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #de4d28;
    border: 1px solid #de4d28;
    text-decoration: none;
}

footer.footer {
    clear: both;
}

/* Mobile */

@media only screen and (min-width: 320px) and (max-width: 768px) {

    main.main-section {
        width: 100%;
        height: 100% !important;
        padding: 50px 15px 0px 15px;
        box-sizing: border-box;
        margin-bottom: 50px !important;
    }

    section.bg-hero-img {
        padding-bottom: 45px
    }

    div.bg-container {
        margin: 0 auto;
        width: 100%;
    }

    div.bg-container h1 {
        text-align: center;
        width: 100%;
    }

    div.bg-container h2 {
        text-align: center;
        width: 100%;
    }

    div.bg-container p {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

    section.left-section {
        display: block;
        float: none;
        margin-left: 0px !important;
        margin-top: 0px !important;
        width: 100% !important;
    }

    div.join-us h2 {
        color: #3C3F33;
        text-align: center;
        font-size: 35px;
        margin-bottom: 15px;
    }

    div.expectation {
        margin-top: 50px;
        margin-bottom: 50px
    }

    div.expectation h2 {
        color: #3C3F33;
        text-align: center;
        font-size: 35px;
        padding-right: 10px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    section.right-section {
        display: block;
        float: none;
        height: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 0px !important;
        width: 100% !important;
    }

    iframe.p-form {
        width: 100% !important;
        height: 1070px !important;
        border: solid #E5AC24 3px;
        background-color: #FFFFFF;
        padding-top: 0px;
    }
}

/* Laptops 13 inch */

@media only screen and (max-width: 1024px) {

    main.main-section {
        height: 1110px;
        margin-bottom: 60px;
    }

    div.bg-container {
        margin: 0 auto;
        width: 950px;
        max-width: 100%;
    }

    section.left-section {
        margin-left: 35px;
        width: 500px;
        margin-top: 200px;
    }

    section.right-section {
        height: 1035px;
        margin-right: 35px;
        margin-top: -740px;
        width: 400px;
    }

    iframe.p-form {
        width: 400px;
        height: 1035px;
    }
}

/* Laptops 15 inch*/

@media only screen and (max-width: 1440px) and (min-width: 1300px) {

    main.main-section {
        height: 550px;
        margin-bottom: 80px;
    }

    div.bg-container {
        margin: 0 auto;
        width: 1300px;
        max-width: 100%;
    }

    section.left-section {
        margin-left: 65px;
        width: 650px;
    }

    section.middle-section {
        max-width: 100%;
        display: inline;
        width: 560px;
        height: 315px;
        float: right;
        margin-right: 65px;
        margin-top: 100px;
    }


    section.right-section {
        height: 600px;
        margin-bottom: 80px;
    }

}
