/*--------------------------------------
Prototype Style Sheet (empty commented stylesheet)
version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://chuckobaze.com
--------------------------------*/

/* Remember Order Of Styling Links
a:link, a:visited, a:hover, a:focus, a:active
--------------------------------*/

/* imports
--------------------------------*/

/* SASS Variables
--------------------------------*/

/* SASS Extends
--------------------------------*/

*{
  padding: 0;
  margin: 0;
}

div.wrapper{

}
