/*--------------------------------------
Prototype Style Sheet (empty commented stylesheet)
version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://chuckobaze.com
--------------------------------*/

/* Remember Order Of Styling Links
a:link, a:visited, a:hover, a:focus, a:active
--------------------------------*/

/* imports
--------------------------------*/

@import 'color';

/* SASS Variables
--------------------------------*/

$border: solid 1px;

/* SASS Extends
--------------------------------*/

*{
  padding: 0;
  margin: 0;
}

div.main-body{
  border: $border red;
}

header.main-header{
  background-color: $white-color !important;
}

div.bnr-logo{
    width: 10rem !important;
    max-width: 100%;
    border: $border red;

    a{

        img{
            width: 10rem;
        }
    }
}

nav.main-nav{
  border: $border red;
  ul{
    background-color: $white-color !important;
  }

}
